/* CSS for RoverHeaderXBlock */
.hdrxblock_block {
    position: relative;
    width: 100%;
    background: #f1f1f1;
}
.hdrxblock_block .count {
    font-weight: bold;
}

.hdrxblock_block .content {
    padding: 10px;
}

.hdrxblock_block p {
    cursor: initial;
}

.hdrxblock_block h2 {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.hdrxblock_block .hdr_banner {
    width: 100%;
    height: 5px;
    display: flex;
}
.hdrxblock_block .hdr_banner_1 {
    height: 100%;
    background: #f47641;
    flex: 1;
}

.hdrxblock_block .hdr_banner_2 {
    height: 100%;
    background: #77af42;
    flex: 1;
}

.hdrxblock_block .hdr_banner_3 {
    height: 100%;
    background: #00246a;
    flex: 1;
}
.hdrxblock_block .hdr_banner_4 {
    height: 100%;
    background: #f4d019;
    flex: 1;
}
.hdrxblock_block .hdr_banner_5 {
    height: 100%;
    background: #5e6062;
    flex: 1;
}

.hdrxblock_block .content {
    display: flex;
    justify-content: space-between;
}

.hdrxblock_block .content .content_icons {
    display: flex;
}

.hdr_book {
    height: 48px;
    width: 48px;
    margin-left: 5px;
}
.hdr_book img {
    width: 100%;
    height: auto;
}

.hdr_playground {
    height: 48px;
    width: 48px;
    margin-left: 5px;
}
.hdr_playground img {
    width: 100%;
    height: auto;
}
